<div class="cart-div">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <!-- <input formControlName="id" matInput placeholder="Enter Your ID"> -->
        <input matInput [(ngModel)]="searchTerm" (keyup)="search($event)"  type="search" placeholder="search here" class="search-input">
    </mat-form-field>
    <h1>Shopping Cart</h1>




    <ng-container *ngIf="cart?.products?.length">
        <mat-card *ngFor="let item of cart?.products" class="cart-item">
            <img class="cart-item-img" [src]="item.product?.imgUrl"
            alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title class="cart-item-header">{{item.product?.name}}</mat-card-title>
                <mat-card-subtitle class="cart-item-text">{{item?.product?.categoryId}}</mat-card-subtitle>
                <mat-card-subtitle class="cart-item-text">{{item.quantity}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button (click)="onRemoveItem(item)" >X</button>
            </mat-card-actions>
        </mat-card>
    
    <div class="total-price">
        <h2>Total Price: {{ totalPrice | currency : 'USD' }}</h2>
    </div>
    <div class="buttons">
        <button (click)="removeAllCart()" mat-raised-button color="accent" class="login-button" >Clear Cart</button>
        <button routerLink="/order" mat-raised-button color="warn" class="login-button" type="submit">Place Order</button>
    </div>
    </ng-container>

    <ng-container *ngIf="!cart?.products?.length">

        <img class="empty" src="https://i.ibb.co/rb4qqZH/Online-Groceries-rafiki.png" alt="">

        <!-- <div *ngIf="(activeCart | async) as cart"> -->
        <!-- <h2>{{cart.creationDate}}</h2></div> -->
        <h2>Your Cart is Empty</h2>
    </ng-container>
</div>