.statics{
    text-align: center;
}

.statics-container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 0;
    margin: 30px 0;
}

.statics-numbers{
    color: #AA041C;
    font-weight: 700;
}