<div class="registration-form">
    <h2>Register a New Account</h2>
<mat-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form class="stepDiv" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Step One</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>ID</mat-label>
                <input formControlName="identification" matInput placeholder="Enter Your ID">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Enter Your Email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput placeholder="Enter Your Password">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Your Password">
            </mat-form-field>
            <div>
                <button [disabled]="firstFormGroup.invalid" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form class="stepDiv" [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>Step Two</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input  formControlName="firstName"  matInput placeholder="Enter Your First Name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput placeholder="Enter Your Last Name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput placeholder="Enter Your City">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Street</mat-label>
                <input formControlName="street" matInput placeholder="Enter Your Street">
            </mat-form-field>
            <div>
                <button type="button" matStepperPrevious>Back</button>
                <button type="submit" mat-button>Done</button>
            </div>
        </form>
    </mat-step>
</mat-stepper></div>