<div class="order-form">
<h2 class="title">Order Form</h2>

<form class="order-form" [formGroup]="orderForm" (ngSubmit)="submitForm()">
    <ng-template matStepLabel>Step One</ng-template>
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input (dblclick)="fill('city')" formControlName="city" matInput placeholder="Enter Your City">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input (dblclick)="fill('street')" formControlName="street" matInput placeholder="Enter your Street">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Delivery Date</mat-label>
        <input type="date" formControlName="deliveryDate" matInput placeholder="Please Pick a Delivery Date">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Credit Card</mat-label>
        <input type="number" formControlName="creditCard" matInput placeholder="Please Enter your Credit Card">
    </mat-form-field>
    <div>
        <button [disabled]="orderForm.invalid" type="submit" mat-raised-button color="warn">Place Order</button>
        <img *ngIf="isLoading" style="width: 25px" src="https://i.ibb.co/0hBmRQ4/1488.gif" alt="">
    </div>
</form>
</div>