.main{
    text-align: center;
    margin-top: 50px;
    height: 78vh;
}

.order-form{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

button.mat-warn{
    background-color: #AA041C;
}
button.mat-accent{
    color: #AA041C;
}

.title{
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    font-family: 'Dancing Script', cursive;
}