
<div class="main">


    <div class="product-grid">
        <div class="products" 
            *ngFor="let product of products | filter : searchKey: 'name'; let i = index;">
            <mat-card class="example-card">
                <mat-card-header>
                  <div class="example-header-image"></div>
                  <mat-card-title>{{product.name}}</mat-card-title>
                </mat-card-header>
                <img class="product-image" mat-card-image src={{product.imgUrl}} alt="">
                <h2>${{product.price}}.00</h2>
                <mat-card-actions>
                  <button (click)="onProductSelected(product)" mat-button class = "add-button">Add to Cart</button>
                  <div class="user-menu" *ngIf="(user$ | async) as user">
                 
                  <button class="edit-button" *ngIf="user.role === 'user'" mat-button>
                    <mat-icon>edit</mat-icon>
                    Edit Product
                </button>
                
                </div>
                </mat-card-actions>
              </mat-card>

        </div>


      </div>
</div>